# ==============================================
# MTK Policy Rule
# ============


allow dnsmasq netd:file read;

# ==============================================
# MTK Policy Rule
# ============


allow dnsmasq lannetmngrd:file read;
